* {
    outline: none;
}

body {
    font: {
        family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        size: 20px;
    };
}

a,
a:visited,
a:hover,
a:active, {
    text-decoration: none;
    color: #000000;
}

.container {
    width: 900px;
    margin: 0 auto;
}

.spinner {
    display: block;
    width: 200px;
    margin: 0 auto;
}

.table {
    &__list {
        margin-top: 50px;
        width: 100%;

        th {
            border: 1px solid #000000;
            padding: 10px;
        }

        tbody tr:hover {
            background-color: #e5e5e5;
        }
    }
}

.btn {
    display: inline-block;
    font-size: 16px;
    color: #000000;
    padding: 5px;
    border: 2px solid #e5e5e5;
    border-radius: 6px;
    background-color: transparent;
    box-sizing: border-box;

    &:hover {
        background-color: #e5e5e5;
        border-color: #000000;
        cursor: pointer;
    }
}

.input {
    display: block;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    display: block;
    width: 100%;

    -ms-box-sizing:content-box;
    -moz-box-sizing:content-box;
    -webkit-box-sizing:content-box; 
    box-sizing:content-box;
}

.label {
    display: block;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.validation-message {
    color: #ff0000;
    font-size: 16px;
}

.validation-summary {
    margin-top: 10px;
    font-size: 17px;
    text-align: center;
}