body {
    font: {
        family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        size: 20px;
    };
}

a,
a:visited,
a:hover,
a:active, {
    text-decoration: none;
    color: #000000;
}

.container {
    width: 900px;
    margin: 0 auto;
}

.spinner {
    display: block;
    width: 200px;
    margin: 0 auto;
}